obj
**/bin/*
bin/*
**/_PublishedWebsites/*
deploy
deploy/*
test-results/
_ReSharper.*
*.DotSettings.user
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.userprefs
*.pidb
SolutionVersion.cs
lib/MoMA/Reports/submit.xml
build_output
ReleaseBinaries
code_drop
TestResult.xml
openlocal.sh
openlocal.bat
~$*
Debug/
Release/
AutoTest.VS.xml
ldeploy.bat
*_mm_cache.bin
packages/**/
build/
Release/
SharedAssemblyInfo.cs
**/App_Data/*
**/content/scripts/app/*.js
bin/
**/App_Data/*
**/cassette-cache/*
