@inherits Derp.Inventory.Web.views.RazorView<WarehouseListViewModel>
<ul class="warehouses">
    @foreach (var warehouse in Model)
    {
        <li><a href="~/warehouse/@warehouse.WarehouseId">@warehouse.Name</a></li>
    }
</ul>