@inherits Derp.Inventory.Web.RazorView<ItemSearchResultsViewModel>

<ul>
    @foreach (var item in Model)
    {
        <li><a href="~/inventory/@item.WarehouseItemId">@item.Sku</a> - @item.Description</li>
    }
</ul>
